.stop-point-list {
  .table {

    tbody {

      label {
        line-height: 30px;
      }

      tr.completed label {
        text-decoration: line-through;
      }

      td, th {
        vertical-align: top;
      }
      
      .checkbox {
        display: flex;
        align-items: center;
      }

      input[type="checkbox"] {
        font-size: 1em;
        margin-right: 10px;
      }

      .buttons {
        min-width: 70px;
      }
    }

    tfoot {
      td {
        font-style: italic;
        padding: 10px;
      }
    }
  }

  .buttons-right {
    justify-content: flex-end;
  }
}
